---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import "@/styles/motion.css";
import Header from "@/components/utilitified_decorations/HeaderCosmic.astro";
import Footer from "@/components/utilitified_decorations/Footer.astro";
import ThreeColumnGrid from "@/components/grid/ThreeColumnGrid.astro";
import GridBackgrounded from "./GridBackgrounded";
import { MenuItemProps } from "@/components/menu/MenuItem";
import { GravityStarsBackground } from "@/components/animate-ui/components/backgrounds/gravity-stars";
import { GradientBackground } from "@/components/animate-ui/components/backgrounds/gradient";
import BrowseTracker from "@/components/navigation/BrowseTracker";
import PageTransitionProvider from "@/components/navigation/PageTransitionProvider";
import Analytics from "./Analytics.astro";

interface Props {
  active?: string;
  hideLinks?: string[];
  hideAuth?: boolean;
  additional?: MenuItemProps[];
  title?: string;
}
const { hideLinks, hideAuth, additional, title = "CascadeFund" } = Astro.props;

if (Astro.locals.session) {
  console.log("User is authenticated");
} else {
  // Redirect to login page if the user is not authenticated
  console.log("User is not authenticated");
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/ara_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      @import "@chatscope/chat-ui-kit-styles/dist/default/styles.min.css";
    </style>
    <ClientRouter />
    <Analytics />
  </head>
  <body
    class="min-h-screen bg-slate-200 dark:bg-slate-800 border-1 border-red-500/10"
  >
    <BrowseTracker client:load />
    <div>
      <GradientBackground
        className="fixed h-screen w-screen z-0 pointer-events-none"
        client:load
      />
      x <GridBackgrounded />
      <GravityStarsBackground
        className="fixed h-screen w-screen z-1 pointer-events-none"
        client:load
      />
      <slot
        name="background"
        class="fixed h-screen w-screen z-2 pointer-events-none"
      />
    </div>
    <div class="z-2 relative">
      <Header hideLinks={hideLinks} hideAuth={hideAuth} additional={additional}>
        <slot name="header-navbar" />
        <div slot="actions" class="contents">
          <slot name="header-actions" />
        </div>
      </Header>
      <section class="mt-6">
        <slot name="hero" />
      </section>
      <ThreeColumnGrid
        centerPercents="3/5"
        className="mx-auto py-8 space-x-4 px-4 mt-6 min-h-[calc(100vh-4rem)]"
      >
        <slot name="left" class="mr-4" slot="left" />
        <slot name="center" class="mx-4" slot="center" />
        <slot name="right" class="ml-4" slot="right" />
      </ThreeColumnGrid>
      <Footer />
    </div>
    <PageTransitionProvider client:load />
  </body>
</html>
